In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("student_metrics.csv")
df

,student,total_commits,avg_lines_per_commit,active_days,total_merge_requests,merged_requests,total_issues_created,total_issues_assigned
0,ZePedross,36,69.250000,11,0,0,0,0
1,diogojgferreira,43,48.953488,10,1,1,22,22
2,oliveira-andre-unilu,124,1480.500000,41,0,0,0,0
3,Andre Martins,46,8807.717391,19,26,25,220,73
4,Diogo Martins,20,97.950000,2,3,2,58,19
...,...,...,...,...,...,...,...,...
432,Rafael Faria,0,0.000000,0,0,0,0,4
433,Pedro Biain,0,0.000000,0,0,0,0,2
434,B T,0,0.000000,0,0,0,0,2
435,João Silva,0,0.000000,0,0,0,0,1
436,Alice Khalil,0,0.000000,0,0,0,0,1